<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../css/about.css">
  <title>Natural</title>
  <link rel="shortcut icon" type="image/x-icon" href="../assets/logo.ico"/>
</head>

<body>
  <a href="./index.html">GOBACK</a>
  <div class="backgroud-img">
    <img src="../assets/image/1.jpeg" alt="">
  </div>
  <div class="logo">
    <i class="fas fa-frog"></i>
    <p>Natural</p>
  </div>
  <div class="contact">
    <h2>ABOUT US</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore facere veniam, quis aliquam magnam ex
      distinctio vel quas consequuntur delectus esse, ipsam, saepe amet incidunt ad! Dolor similique doloremque ea!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore facere veniam, quis aliquam magnam ex
      distinctio vel quas consequuntur delectus esse, ipsam, saepe amet incidunt ad! Dolor similique doloremque ea!</p>
      <div class="communication">
          <i class="fab fa-facebook-square"></i>
          <i class="fas fa-envelope"></i>
          <i class="fas fa-phone-square"></i>
      </div>
  </div>
  <div class="our-team">
    <h2>OUR TEAM</h2>
    <div class="info">
      <div class="user-block">
        <div class="user">
          <img src="../assets/image/user1.jpg" alt="">
        </div>
        <label>NOV SOTHEA</label>
      </div>
      <div class="user-block">
        <div class="user">
          <img src="../assets/image/user2.jpg" alt="">
        </div>
        <label>THY LYTHONG</label>
      </div>
      <div class="user-block">
        <div class="user">
          <img src="../assets/image/user3.jpg" alt="">
        </div>
        <label>KORM CHANKOUCH</label>
      </div>
      <div class="user-block">
        <div class="user">
          <img src="../assets/image/user4.jpg" alt="">
        </div>
        <label>KOR SOPHALOUDAM</label>
      </div>
    </div>
  </div>
</body>
</html>